/* Hide default Wordpress navigation */
header#masthead {
    display: none;
}

/* Mobile tweaks */
@media (min-width: 992px) {
    #mobile-search, .mobile-extra-content {
        display: none;
    }
}
@media (max-width: 991px) {
    #custom-nav form, #desktop-nav, .storefront-handheld-footer-bar {
        display: none;
    }
}


/* Top nav */
#top-nav {
    padding-top: 5px;
    padding-bottom: 5px;
    
    background-color: #323150;
}
#top-nav, #top-nav a {
    color: #bfbfc5;
}

#top-nav img#social-media {
    max-width: 30px;
}

img#scapes-logo {
    position: absolute;
}


/* Middle nav */
#middle-nav {
    padding-bottom: 20px;
    
    background-color: #282840;
}
#middle-nav h3 {
    color: white;
}
#middle-nav p {
    color: #13c49a;
}

#middle-nav img {
    max-height: 80%;
}





/* Bottom/main nav */
nav#custom-nav {
    padding-top: 0;
    padding-bottom: 0;
    
    background-color: #323150;
}

nav#custom-nav li {
    border-color: 3e3d5e;
    border-style: solid;
    border-width: 1px;
}
nav#custom-nav li:hover {
    margin: -1px;
    background-color: #282840;

    border-color: #282840;
    border-top-color: #c41328;
    border-top-width: 2px;
}

nav#custom-nav li a {
    font-family: 'Play', sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

input#search-bar {
    padding-left: 50px;
    background-color: #3e3d5e;
    color: #b2b1bf;
}
input#search-bar::placeholder {
    font-size: 1.2rem;
    color: #b2b1bf;
}

img#search-symbol {
    position: absolute;
    max-width: 30px;
    margin-left: 10px;
}

/* Mobile search */
img#search-symbol {
    top: 12px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../assets/mobile-nav-toggler.png);
}
.navbar-light .navbar-toggler {
    border: none;
}
.navbar-toggler:hover {
    background-color: transparent;
}
.navbar-toggler:focus {
    outline-color: transparent;
}

#mobile-text-logo {
    padding: 10px;
}
#mobile-text-logo p {
    margin-bottom: 0;
    font-size: 1.6rem;
    line-height: 90%;
}
#mobile-text-logo p.top {
    color: #13c49a;
}
#mobile-text-logo p.bottom {
    color: white;
}
#mobile-text-logo a {
    text-decoration: none;
}

img#mobile-nav-basket {
    max-width: 50px;
}